*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xmla sta jos dodat u razini features

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gradle/gradle-daemon-jvm.properties
