DB_HOST=db
DB_PORT=5432
DB_NAME=database_name_here
DB_USER=db_user_here
DB_PASSWORD=db_password_here

# Spring Boot environment
SPRING_PROFILES_ACTIVE=dev

# JWT
# Must be really really long so that it can work.
# For production, use a proper secret generator.
JWT_SECRET=AWOdanmwiodsoefniosjfiosejfioerjfoemfiomcxncvspniowensdoijnnjfpowjepfwejiofnefasjiodeiofnwofmweuiojnfioen
JWT_EXPIRY_SECONDS=seconds_here
JWT_REFRESH_SECONDS=seconds_here
SONAR_TOKEN=sonar_token_provided_via_wire
SONAR_FRONTEND_TOKEN=your-global-sonar-token
NVD_API_KEY=your-actual-key-here

# GRAFANA
GF_INSTALL_PLUGINS=grafana-clock-panel,grafana-piechart-panel

# CORS CONFIGURATION FOR BACKEND
CORS_ALLOWED_ORIGINS=http://localhost:5173
CORS_ALLOWED_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
CORS_ALLOWED_HEADERS=*
CORS_EXPOSED_HEADERS=Authorization
CORS_ALLOW_CREDENTIALS=false
CORS_MAX_AGE=3600

# SET TO 1.0 for local, 0.1 for prod. Controls what percentage of traces are recorded/exported.
SAMPLING_PROBABILITY=1.0

# MAILTRAP Credentials
MAIL_USERNAME=mailtrap_user
MAIL_PASSWORD=mailtrap_pass
# SAME AS CORS_ALLOWED_ORIGINS, kept because DEMO VM references this differently, do not delete
BASE_URL=http://localhost:3000