<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOGS_DIR" value="./logs" />
    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} traceId=%X{traceId:-} spanId=%X{spanId:-} %clr(%5p) %clr(${PID:- }){magenta} %clr(-){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %clr({%mdc}){yellow} %m%n" />
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} traceId=%X{traceId:-} spanId=%X{spanId:-} %5p ${PID:- } - [%t] %-40.40logger{39} : %m%n" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOGS_DIR}/application.json</file>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <jsonGeneratorDecorator
                class="net.logstash.logback.decorate.CompositeJsonGeneratorDecorator">

                <decorator
                    class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">

                    <defaultMask>****</defaultMask>

                    <path>password</path>
                    <path>*.password</path>
                    <path>*.*.password</path>
                    <path>token</path>
                    <path>accessToken</path>
                    <path>refreshToken</path>
                    <path>secret</path>
                    <path>apiKey</path>
                    <path>authorization</path>

                    <value>Bearer\s+[A-Za-z0-9\-._~+/]+=*</value>
                    <value>(?i)password["=: ]+\S+</value>

                </decorator>

            </jsonGeneratorDecorator>

            <providers>

                <timestamp />
                <logLevel />
                <threadName />
                <loggerName />
                <message />
                <mdc />
                <arguments />
                <stackTrace />

            </providers>

        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_DIR}/archived/application-%d{yyyy-MM-dd}.%i.json.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>